
  .container{ 
  display: flex; 
  flex-wrap: wrap;
  justify-content: center; 
  
  }
 .container div{ 
    width: 300px; 
    height: 300px; 
    margin: 30px 15px; 
    background: white; 

 } 
 .title{
    color: black;  
    text-align: center; 
    font-size: 1em;   

 } 
 .container div:hover{
     
      background: orange;
 }